@charset "utf-8";
/* CSS Document */

input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
a{
	text-decoration: none;
}
@font-face{
	font-family: "Calibri";
	src: url('../fontes/calibri.ttf');
    src: local('Calibri'), url('../fontes/calibri.eot') format('truetype');
}

body{
	background-image: url("../img/bg.png");
	background-position: top center;
	background-color: #000000;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	margin: 0px auto;
	padding: 0px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
body .mask{
	background-color: #1D2329;
    box-sizing: content-box;
    height: 100%;
    padding-bottom: 45px;
    position: fixed;
    top: -45px;
    width: 100%;
    z-index: 100000;
}
body .mask #loader {
    background: url("../img/726.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}
table{
	text-align:center;
	border: 1px solid #0B1314;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 0px 2px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}
table tr th{
	background-color: #0B1314;
	padding: 5px;
	font-family: "Calibri";
    font-size: 15px;
	font-weight:normal;
	text-align: center;
	color: #fff;
}
table tr td{
	background-color: #162426;
	font-family: "Calibri";
    font-size: 12px;
	text-align: center;
	color: #fff;
}
.bg-menu{
	margin: 0px auto;
	background: url("../img/bg-painel.png") 0px 0px no-repeat;
	background-position: top center;
	height: 105px;
	margin-top: 0px;
	padding-top: 0px;
	z-index: 100;
}
.bg-menu .menu-center{
	margin: 0px auto;
	width: 940px;
	height: 104px;
}
.bg-menu .menu-center .menu-left{
	float: left;
    height: 57px;
    margin: 0 auto;
    width: 353px;
}
.bg-menu .menu-center .menu-left .menu{
	color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: "Calibri";
    font-size: 16px;
    margin: 0 auto;
    padding: 18px 17px 16px;
    transition: all 0.7s ease 0s;
}
.bg-menu .menu-center .menu-left .menu:hover{
	background-color: #131A1E;
	transition: all 0.7s;
}
.bg-menu .menu-center .menu-left .menu .submenu{
	background-color: #131A1E;
    margin-left: -18px;
    margin-top: 16px;
    padding: 10px;
    position: absolute;
    width: 140px;
	display: none;
	z-index: 200;
	
	transition: all 0.7s;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(19, 26, 30, 1);
	-moz-box-shadow:    0px 0px 5px 0px rgba(19, 26, 30, 1);
	box-shadow:         0px 0px 5px 0px rgba(19, 26, 30, 1);
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.bg-menu .menu-center .menu-left .menu:hover > .submenu{
	display: block;
	transition: all 0.7s;
}
.bg-menu .menu-center .menu-left .menu .submenu .opcao{
	background-image: url("../img/setinhas.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: "Calibri",Arial;
	font-size: 14px;
	color: #fff;
	transition: all 0.7s;
}
.bg-menu .menu-center .menu-left .menu .submenu .opcao:hover{
	color: #273d40;
}
.bg-menu .menu-center .menu-left .separar{
	background-image: url("../img/separador.png");
    float: left;
    height: 56px;
    margin: 0 auto;
    width: 2px;
}
.bg-menu .menu-center .menu-logo-center{
	background-image: url("../img/logo.png");
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
    height: 102px;
    margin: 0 auto;
    width: 235px;
}
.bg-menu .menu-center .menu-right{
	float: right;
    height: 57px;
    margin: 0 auto;
    width: 352px;
}
.bg-menu .menu-center .menu-right .menu a{
	text-decoration: none;
	color: #fff;
}
.bg-menu .menu-center .menu-right .menu{
	color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: "Calibri";
    font-size: 16px;
    margin: 0 auto;
    padding: 18px 17px 16px;
    transition: all 0.7s ease 0s;
}
.bg-menu .menu-center .menu-right .menu:hover{
	background-color: #131A1E;
	transition: all 0.7s;
}
.bg-menu .menu-center .menu-right .menu .submenu{
	background-color: #131A1E;
    margin-left: -18px;
    margin-top: 16px;
    padding: 10px;
    position: absolute;
    width: 140px;
	display: none;
	z-index: 200;
	
	transition: all 0.7s;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(19, 26, 30, 1);
	-moz-box-shadow:    0px 0px 5px 0px rgba(19, 26, 30, 1);
	box-shadow:         0px 0px 5px 0px rgba(19, 26, 30, 1);
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.bg-menu .menu-center .menu-right .menu:hover > .submenu{
	display: block;
	transition: all 0.7s;
}
.bg-menu .menu-center .menu-right .menu .submenu .opcao{
	background-image: url("../img/setinhas.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: "Calibri",Arial;
	font-size: 14px;
	color: #fff;
	transition: all 0.7s;
}
.bg-menu .menu-center .menu-right .menu .submenu .opcao:hover{
	color: #273d40;
}
.bg-menu .menu-center .menu-right .separar{
	background-image: url("../img/separador.png");
    float: right;
    height: 56px;
    margin: 0 auto;
    width: 2px;
}

.logo-version{
	background: url("../img/bg-painel.png") no-repeat scroll -60px -134px rgba(0, 0, 0, 0);
    height: 56px;
    margin: 20px auto;
    width: 229px;
}
.center{
	margin: 0px auto;
	width: 998px;
	max-width: 998px;
}
.center .top{
	background-image:url("../img/bg-top-center.png");
	background-repeat: no-repeat;
	width: 998px;
	height: 13px;
}
.center .meio{
	background-image:url("../img/bg-center-center.png");
	background-repeat: repeat-y;
	width: 998px;
	min-height: 1568px;
	color: #FFFFFF;
	padding-left: 7px;
	padding-right: 7px;
}
.center .baixo{
	background-image:url("../img/bg-bottom-center.png");
	background-repeat: no-repeat;
	width: 998px;
	height: 13px;
}
.copyright{
	margin: 0px auto;
	text-align: center;
	color: #FFFFFF;
	font-family: arial;
	font-size: 9px;
	padding: 10px;
	width: 970px;
}
.main .left{
	float: left;
	max-width: 226px;
	min-height: 300px;
}
.main .mid{
	background-color: #121f21;
	min-height: 100px;
	margin: 0px auto;
	float: left;
	width: 500px;
	max-width: 500px;
	min-width: 500px;
	margin-top: 10px;
	margin-left: 11px;
	padding-left: 5px;
	padding-right: 5px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.main .mid .caixa-titulo{
	background-color: #0B1314;
    font-family: "Calibri",Arial;
    font-size: 14px;
    height: 20px;
    margin: 0 auto 0 2px;
    padding-left: 7px;
    padding-top: 3px;
	margin-top: 5px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.main .mid .caixa-megafone{
	background-color: #0B1314;
	border: 1px solid #50B6AB;
    font-family: "Calibri",Arial;
    font-size: 16px;
    height: 25px;
    margin: 0 auto 0 2px;
    padding-left: 7px;
    padding-top: 3px;
	margin-top: 5px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.main .mid .caixa-megafone .fone{
	background: url("../img/bg-painel.png") no-repeat scroll -60px -307px rgba(0, 0, 0, 0);
    float: left;
    height: 22px;
    margin: 0 auto;
    width: 24px;
	color: #50B6AB;
}
.main .mid .caixa-megafone marquee{
	color: #6AD1CF;
    margin: 0 auto;
    width: 460px;
}
.main .mid .artigos{
	margin-top: 7px;
}
.main .mid .artigos .assunto{
	background: url("../img/bg-painel.png") no-repeat scroll -59px -480px rgba(0, 0, 0, 0);
    height: 33px;
    margin: -2px auto 0 1px;
    width: 500px;
	cursor: pointer;
}
.main .mid .artigos .assunto .noticia{
	background: url("../img/bg-painel.png") no-repeat scroll -432px -352px rgba(0, 0, 0, 0);
    float: left;
    height: 17px;
    margin-left: 8px;
    margin-top: 9px;
    width: 56px;
}
.main .mid .artigos .assunto .evento{
	background: url("../img/bg-painel.png") no-repeat scroll -432px -373px rgba(0, 0, 0, 0);
    float: left;
    height: 17px;
    margin-left: 8px;
    margin-top: 9px;
    width: 56px;
}
.main .mid .artigos .assunto .promocao{
	background: url("../img/bg-painel.png") no-repeat scroll -432px -394px rgba(0, 0, 0, 0);
    float: left;
    height: 17px;
    margin-left: 8px;
    margin-top: 9px;
    width: 56px;
}
.main .mid .artigos .assunto .titulo{
	color: #FFFFFF;
    float: left;
    font-family: "Calibri",Arial;
    font-size: 13px;
    margin-left: 5px;
    margin-top: 8px;
}
.main .mid .artigos .assunto .data{
	color: #00413E;
    float: right;
    font-family: "Calibri",Arial;
    font-size: 10px;
    margin-right: 9px;
    margin-top: 10px;
}
.main .mid .artigos .conteudo{
	margin: 0px auto;
	background-color: #000B0C;
	width: 465px;
	padding: 10px;
	margin-bottom: 3px;
	font-family: "Calibri", Arial;
	font-size: 13px;
	display: none;
	
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.main .mid .facebook-like{
	background: url("../img/bg-painel.png") no-repeat scroll -925px -299px rgba(0, 0, 0, 0);
    border: 1px solid #2F2F2F;
    height: 242px;
    margin: 15px auto 5px;
    width: 498px;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}


.main .right{
	margin: 0px auto;
	float: right;
	max-width: 226px;
	margin-right: 20px;
}
.center .meio .caixa{
	margin: 0px auto;
	margin-left: 3px;
	margin-top: 10px;
	width: 226px;
}
.caixaEspaco{
	margin-top: 30px;
}
.center .meio .caixa .mid-left{
	background-image:url("../img/parte-cima-menu.png");
	background-repeat: no-repeat;
	margin: 0px auto;
	width: 226px;
	height: 6px;
	min-height: 6px;
	content: " ";
}
.center .meio .caixa .mid-center{
	background-image:url("../img/parte-meio-menu.png");
	background-repeat: repeat-y;
	margin: 0px auto;
	padding-left: 5px;
	padding-right: 5px;
	width: 226px;
}
.center .meio .caixa .mid-center .caixa-titulo{
	margin: 0px auto;
	margin-left: 2px;
	padding-top: 3px;
	padding-left: 7px;
	background-image: url("../img/bg-title.png");
	width: 205px;
	height: 20px;
	font-size: 14px;
	font-family: "Calibri", Arial;
}
.center .meio .caixa .mid-right{
	background-image:url("../img/parte-baixo-menu.png");
	background-repeat: no-repeat;
	margin: 0px auto;
	width: 226px;
	height: 6px;
	min-height: 6px;
	content: " ";
}
.form{
	margin: 0px;
	margin-top: 4px;
	width: 150px;
}
.login, 
.password{
	background: url("../img/bg-painel.png") no-repeat scroll -58px -416px rgba(0, 0, 0, 0);
    border: 0 none;
    color: #28393A;
    font-family: "Calibri", Arial;
    font-size: 12px;
    height: 26px;
    margin: 3px 1px auto;
    padding: 0 8px;
    width: 132px;
	transition: color 0.5s;
}
.login:focus, 
.password:focus{
	background: url("../img/bg-painel.png") no-repeat scroll -58px -444px rgba(0, 0, 0, 0);
	color: #3B595E;
	transition: color 0.5s;
}
.submit{
	background: url("../img/bg-painel.png") no-repeat scroll -58px -353px rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 57px;
    margin-left: 155px;
    margin-top: -57px;
    width: 59px;
}
.submit:hover{
	background: url("../img/bg-painel.png") no-repeat scroll -119px -353px rgba(0, 0, 0, 0);
}
.rec{
	float: left;
	font-family: "Calibri", Arial;
    font-size: 11px;
	color: #c8c8c8;
	margin-left: 6px;
	margin-top: 4px;
	cursor: pointer;
	transition: all 0.7s;
}
.rec:hover{
	color: #F32609;
	transition: all 0.7s;
}
.ati{
	color: #C8C8C8;
    float: right;
    font-family: "Calibri",Arial;
    font-size: 11px;
    margin-right: 18px;
    margin-top: 4px;
	cursor: pointer;
}
.registro{
	background: url("../img/bg-painel.png") no-repeat scroll -197px -353px rgba(0, 0, 0, 0);
    height: 56px;
    margin-left: -3px;
    width: 222px;
	cursor: pointer;
	transition: all 0.5s;
}
.download{
	background: url("../img/bg-painel.png") no-repeat scroll -58px -229px transparent;
    height: 60px;
    margin-left: -3px;
    width: 222px;
	cursor:pointer;
	transition: all 0.5s;
}
.doacao{
	background: url("../img/bg-painel.png") no-repeat scroll -300px -229px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 94px;
    margin-left: -3px;
    transition: all 0.5s ease 0s;
    width: 222px;
}
.loja{
	background: url("../img/bg-painel.png") no-repeat scroll -540px -227px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 80px;
    margin: 2px -3px;
    transition: all 0.5s ease 0s;
    width: 222px;
}
.confirmar{
	background: url("../img/bg-painel.png") no-repeat scroll -1505px -229px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 80px;
    margin: 2px -3px;
    transition: all 0.5s ease 0s;
    width: 222px;
}
.mega{
	background: url("../img/bg-painel.png") no-repeat scroll -1022px -229px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 60px;
    margin: 2px -3px;
    transition: all 0.5s ease 0s;
    width: 222px;
}
.kit{
	background: url("../img/bg-painel.png") no-repeat scroll -1266px -229px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 60px;
    margin: 1px -3px;
    transition: all 0.5s ease 0s;
    width: 222px;
}
.arma{
	background: url("../img/bg-painel.png") no-repeat scroll -1741px -229px rgba(0, 0, 0, 0);
    height: 97px;
    margin: 2px -3px;
    transition: all 0.5s ease 0s;
    width: 222px;
}
.arma .name{
	color: #FFFFFF;
    float: left;
    font-size: 14px;
    margin: 73px auto 0 8px;
}
.arma .guild{
	color: #FFFD00;
    float: right;
    font-size: 14px;
    margin: 73px 8px 0 0;
}
.guerra{
	background: url("../img/bg-painel.png") no-repeat scroll -1742px -118px rgba(0, 0, 0, 0);
    height: 97px;
    margin: 2px -3px;
    transition: all 0.5s ease 0s;
    width: 222px;
	margin-bottom: 6px;
}
.guerra .info{
	float: left;
    margin-left: 5px;
    margin-top: 57px;
    width: 210px;
}
.guerra .info .capela{
	float: left;
	font-size: 10px;
	font-family: "Calibri", Arial;
}
.guerra .info .proxyon{
	float: right;
	font-size: 10px;
	font-family: "Calibri", Arial;
}
.guerra .progresso{
	float: left;
    height: 20px;
    margin: 4px auto 0 4px;
    width: 212px;
}
.guerra .progresso .capela{
	background: url("../img/bg-painel.png") repeat-x scroll -1510px -147px rgba(0, 0, 0, 0);
	margin: 0px auto;
	float: left;
    height: 18px;
	text-align: left;
	font-size: 11px;
	font-family: "Calibri", Arial;

	
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	 border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.guerra .progresso .capela span{
	font-size: 13px;
	font-family: "Calibri", Arial;
	padding-left: 5px;
}
.guerra .progresso .proxyon{
	background: url("../img/bg-painel.png") repeat-x scroll -1510px -174px rgba(0, 0, 0, 0);
    float: right;
    height: 18px;
    margin: 0 auto;
	text-align: right;
	font-size: 11px;
	font-family: "Calibri", Arial;

	
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.guerra .progresso .proxyon span{
	font-size: 13px;
	font-family: "Calibri", Arial;
	padding-right: 5px;
}
.logado{
	background: url("../img/bg-painel.png") no-repeat scroll -781px -229px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 60px;
    margin: 0px -3px;
    transition: all 0.5s ease 0s;
    width: 222px;
}
.download:hover,
.registro:hover,
.doacao:hover,
.loja:hover,
.confirmar:hover,
.mega:hover,
.kit:hover,
.logado:hover{
	transition: all 0.5s;
	/* sombra interna */
	-moz-box-shadow:inset 0 0 20px #1D2526;
	-webkit-box-shadow:inset 0 0 20px #1D2526;
	box-shadow:inset 0 0 20px #1D2526;
	/* termina sombra interna*/
}
.content-box{
	background-color: #0B1314;
    margin: 7px auto 0 2px;
    width: 212px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.content-box .info{
	height: 16px;
    margin: 4px auto;
    width: 200px;
}
.content-box .menu-rank{
	margin: 0px auto;
	height: 25px;
	margin-top: 5px;
}
.content-box .menu-rank .players{
	background: url("../img/bg-painel.png") no-repeat scroll -1516px -343px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 20px;
    margin: 0 auto 0 10px;
    width: 91px;
	float: left;
}
.content-box .menu-rank .players:hover{
	background: url("../img/bg-painel.png") no-repeat scroll -1516px -371px rgba(0, 0, 0, 0);
}
.content-box .menu-rank .players:active{
	background: url("../img/bg-painel.png") no-repeat scroll -1516px -399px rgba(0, 0, 0, 0);
}
.content-box .menu-rank .guilds{
	background: url("../img/bg-painel.png") no-repeat scroll -1625px -343px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 20px;
    margin: 0 auto 0 11px;
    width: 91px;
	float: left;
}
.content-box .menu-rank .guilds:hover{
	background: url("../img/bg-painel.png") no-repeat scroll -1625px -371px rgba(0, 0, 0, 0);
}
.content-box .menu-rank .guilds:active{
	background: url("../img/bg-painel.png") no-repeat scroll -1625px -399px rgba(0, 0, 0, 0);
}
.content-box .info .colum-um{
	margin: 0px auto;
	float: left;
	font-size: 11px;
	font-family: "Calibri", Arial;
	margin-left: 7px;
}
.content-box .info .colum-dois{
	margin: 0px auto;
	float: right;
	font-size: 11px;
	font-family: "Calibri", Arial;
	margin-right: 7px;
}
hr{
	margin: 0px auto;
	background-color: #0f1b1c;
	border: 0px none;
	height: 1px;
	width: 200px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}
.formRegisterDisabled{
	margin: 20px auto;
	text-align: center;
	font-size: 13px;
	font-family: "Calibri", Arial;
	color: #fff;
}
.formRegister{
	margin: 0px auto;
}
.formRegister .termos{
	margin: 0px auto;
	margin-top: 10px;
	padding: 5px;
	width: 487px;
	height: 300px;
	overflow: auto;
	
	background-color: #091011;
	border: 1px solid #0D2528;
	font-size: 13px;
	font-family: "Calibri", Arial;
	color: #fff;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.formRegister .opcao{
	margin: 5px auto;
	background-color: #0A1314;
	width: 300px;
	height: 27px;
	padding: 3px;
	text-align: center;
	font-size: 13px;
	font-family: "Calibri", Arial;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.formRegister .opcao input{
	background-color: #091011;
	float: right;
	border: 1px solid #0D2528;
	padding: 4px;
	color: #ccc;
	width: 200px;
	font-size: 13px;
	font-family: "Calibri", Arial;
	
	transition: all 0.7s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.formRegister .opcao select{
	background-color: #091011;
	float: right;
	border: 1px solid #0D2528;
	padding: 4px;
	color: #ccc;
	width: 200px;
	font-size: 13px;
	font-family: "Calibri", Arial;
	
	transition: all 0.7s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.formRegister .opcao select:hover,
.formRegister .opcao select:focus,
.formRegister .opcao input:hover,
.formRegister .opcao input:focus{
	background-color: #121F21;
	float: right;
	border: 1px solid #112E33;
	padding: 4px;
	color: #ccc;
	width: 200px;
	font-size: 13px;
	font-family: "Calibri", Arial;
	
	transition: all 0.7s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.formRegister .opcao span{
	float: left;
	width: 89px;
	margin-top: 4px;
}
.formRegister .enviarRegister input{
	margin: 5px;
	padding: 5px;
	background-color: #091011;
	border: 1px solid #0D2528;
	font-size: 14px;
	font-family: "Calibri", Arial;
	color: #fff;
	cursor: pointer;
	
	transition: all 0.7s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.captcha{
	margin: 0px auto;
	margin-top: 4px;
	margin-bottom: 10px;
	width: 230px;
	height: 50px;
	border: 5px solid #0B1314;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.captcha .reload{
	background-color: #0B1314;
    background-image: url("../img/update.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 22px;
    margin-left: 205px;
    margin-top: -3px;
    padding: 3px;
    position: absolute;
    width: 22px;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.downloadPG{
	margin: 0px auto;
	width: 461px;
}
.downloadPG .mensagem{
	margin: 0px auto;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 380px;
	font-size: 12px;
	font-family: "Calibri", Arial;
	color: #fff;
}
.downloadPG .mensagemsistem{
	margin: 0px auto;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: -10px;
	width: 480px;
	font-size: 12px;
	font-family: "Calibri", Arial;
	color: #fff; 
	text-align: center;
}
.downloadPG img{
	margin-top: 3px;
	margin-bottom: 3px;
}
.downloadPG .opcao{
	margin: 0px auto;
	width: 380px;
}
.downloadPG .opcao .texto{
	float: left;
	width: 320px;
	padding-top: 7px;
	font-size: 11px;
	font-family: "Calibri", Arial;
	color: #fff;
}
.downloadPG .opcao .texto span{
	font-size: 14px;
	font-family: "Calibri", Arial;
	color: #FFFD00;
}
td{
	padding: 4px;
}
.loadUser{
	margin-left: -20px;
    margin-top: -8px;
    position: absolute;
}
.content-box{
	color: #C8CACA;
    font-family: "Calibri",Arial;
    font-size: 9px;
}
.content-box .minha-conta{
	font-size: 11px;
    margin-left: 15px;
    margin-top: 5px;
    text-align: left;
}
.content-box .categoria{
	color: #C8CACA;
    font-family: "Calibri",Arial;
    font-size: 16px;
    padding-left: 21px;
	text-align: left;
}
.content-box .opcao{
	float: left;
	margin: 3px 10px;
	cursor: pointer;
}
.content-box .opcao .icon{
	background: url("../img/bg-painel.png") no-repeat scroll -1516px -426px rgba(0, 0, 0, 0);
    height: 32px;
    margin: 5px auto 0;
    width: 31px;
}
.content-box .opcao .icon:hover{
	background: url("../img/bg-painel.png") no-repeat scroll -1554px -426px rgba(0, 0, 0, 0);
}
.content-box .opcao .icon:active{
	background: url("../img/bg-painel.png") no-repeat scroll -1592px -426px rgba(0, 0, 0, 0);
}
.content-box .opcao .icon img{
	margin-top: 6px;
}
.content-box .opcao span{
	color: #C8CACA;
    float: left;
    font-family: "Calibri",Arial;
    font-size: 9px;
    margin: 0 auto;
    text-align: center;
    width: 50px;
	padding-top: 5px;
}
.sair{
	background-color: #091011;
    border: 1px solid #0D2528;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: "Calibri",Arial;
    font-size: 14px;
    margin: 5px 16px 5px 5px;
    padding: 5px 10px;
    transition: all 0.7s ease 0s;
}
.distribuirpontos .mensagem{
	margin: 0px auto;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 400px;
	font-size: 12px;
	font-family: "Calibri", Arial;
	color: #fff;
}
.mensagem{
	margin: 0px auto;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 380px;
	font-size: 12px;
	font-family: "Calibri", Arial;
	color: #fff;
	text-align: center;
}
.MegaiNext{
	margin: 0px auto;
	background-image:url("../img/megainext.png");
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 475px;
	height: 158px;
}
.tabelaMega{
	margin: 0 auto 0 76px;
	width: 380px;
}
.tabelaMega span{
	background-color: #0A1314;
    float: left;
    margin: 2px;
    padding: 8px;
    width: 15px;
	cursor: pointer;
	font-family: "Calibri",Arial;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.tabelaMega span input[type='checkbox']{
	display: none;
}
.tabelaMega .ativo{
	background-color: #2A4549;
}

.MegaiNext .coluna{
	margin: 0px auto;
	height: 20px;
	padding-top: 22px;
	font-family: "Calibri",Arial;
}
.MegaiNext .coluna .um{
	margin: 0px auto;
	float: left;
	margin-left: 32px;
}
.MegaiNext .coluna .dois{
	margin: 0px auto;
	float: right;
	margin-right: 131px;
}
.historicoMega{
	margin: 0px auto;
	width: 340px;
	height: 25px;
}
.historicoMega .colum{
	margin: 0px auto;
	height: 25px;
	font-family: "Calibri",Arial;
	font-size: 12px;
}
.historicoMega .colum .um{
	margin: 0px auto;
	float: left;
	min-width: 150px;
}
.historicoMega .colum .dois{
	margin: 0px auto;
	float: right;
	min-width: 150px;
	text-align: right;
}
.vipgold{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	padding: 5px;
	background-color: #0B1314;
	float: left;
	cursor: pointer;
	transition: all 0.7s;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.vipgold:hover{
	transition: all 0.7s;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 1);
}
.vipgold img{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.vipgold .opcao{
	margin: 0px auto;
	margin-top: 5px;
	height: 15px;
}
.vipgold .opcao .um{
	float: left;
	font-size: 11px;
	font-family: "Calibri",Arial;
	margin-left: 5px;
}
.vipgold .opcao .dois{
	float: right;
	font-size: 11px;
	font-family: "Calibri",Arial;
	margin-right: 5px;
}
.vippremium{
	margin-top: 5px;
	margin-right: 5px;
	padding: 5px;
	background-color: #0B1314;
	float: center;
	transition: all 0.7s;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.vippremium:hover{
	transition: all 0.7s;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 1);
}
.vippremium img{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.vippremium .opcao{
	margin: 0px auto;
	margin-top: 5px;
	height: 10px;
}
.vippremium .opcao .um{
	float: left;
	font-size: 13px;
	font-family: "Calibri",Arial;
	margin-left: 5px;
}
.vippremium .opcao .dois{
	float: right;
	font-size: 13px;
	font-family: "Calibri",Arial;
	margin-right: 5px;
}
.mensagensADM{
	margin: 0px auto;
	position: absolute;
	cursor: pointer;
}
.mensagensADM img{
	margin: 0px auto;
	position: absolute;
}

.mensagensADM span {
    background-color: #FB0004;
    font-family: "Calibri",Arial;
    font-size: 9px;
    margin: -8px auto 0 9px;
	color: #FFFFFF;
    max-height: 10px;
    padding: 2px;
    position: absolute;
    z-index: 100;
	padding-left: 4px;
	padding-right: 4px;
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}
.box-ranking{
	margin: 0px auto;
	background-color: #0A1314;
	width: 96%;
	min-height: 35px;
	margin: 8px;
	padding: 3px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.box-ranking select{
	background-color: #091011;
    border: 1px solid #0D2528;
    border-radius: 3px;
    color: #CCCCCC;
    float: left;
    font-family: "Calibri",Arial;
    font-size: 13px;
    padding: 4px;
    transition: all 0.7s ease 0s;
    width: 300px;
	margin: 3px;
}
.box-ranking input{
	background-color: #0E1F21;
    border: 1px solid #112E33;
    border-radius: 3px;
    color: #CCCCCC;
    float: right;
    font-family: "Calibri",Arial;
    font-size: 13px;
    padding: 4px;
    transition: all 0.7s ease 0s;
    width: 150px;
	margin: 3px;
	cursor: pointer;
}
.box-ranking select:focus{
	background-color: #121F21;
    border: 1px solid #112E33;
    color: #fff;
    font-family: "Calibri",Arial;
    transition: all 0.7s ease 0s;
}
.barHonra{
	margin: 0px auto;
	border: 1px solid #112E33;
	width: 80px;
	min-height: 18px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.barHonra .bg{
	margin: 0px;
	padding-top: 2px;
	background-image:url("../img/barRanking.png");
	min-height: 18px;
	color: #ccc;
    font-family: "Calibri",Arial;
	font-size: 12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}



















.bubblingG {
	text-align: center;
	width: 100px;
	height: 63px;
}
.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 13px;
	margin: 31px auto;
	background: #1E3438;
	-moz-border-radius: 63px;
	-moz-animation: bubblingG 0.8s infinite alternate;
	-webkit-border-radius: 63px;
	-webkit-animation: bubblingG 0.8s infinite alternate;
	-ms-border-radius: 63px;
	-ms-animation: bubblingG 0.8s infinite alternate;
	-o-border-radius: 63px;
	-o-animation: bubblingG 0.8s infinite alternate;
	border-radius: 63px;
	animation: bubblingG 0.8s infinite alternate;
}
#bubblingG_1 {
	-moz-animation-delay: 0s;
	-webkit-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}
#bubblingG_2 {
	-moz-animation-delay: 0.24s;
	-webkit-animation-delay: 0.24s;
	-ms-animation-delay: 0.24s;
	-o-animation-delay: 0.24s;
	animation-delay: 0.24s;
}
#bubblingG_3 {
	-moz-animation-delay: 0.48s;
	-webkit-animation-delay: 0.48s;
	-ms-animation-delay: 0.48s;
	-o-animation-delay: 0.48s;
	animation-delay: 0.48s;
}
 @-moz-keyframes bubblingG {
0% {
	width: 13px;
	height: 13px;
	background-color:#1E3438;
	-moz-transform: translateY(0);
}
 100% {
	width: 30px;
	height: 30px;
	background-color:#121F21;
	-moz-transform: translateY(-26px);
}
}
 @-webkit-keyframes bubblingG {
0% {
	width: 13px;
	height: 13px;
	background-color:#1E3438;
	-webkit-transform: translateY(0);
}
 100% {
	width: 30px;
	height: 30px;
	background-color:#121F21;
	-webkit-transform: translateY(-26px);
}
}
 @-ms-keyframes bubblingG {
0% {
	width: 13px;
	height: 13px;
	background-color:#1E3438;
	-ms-transform: translateY(0);
}
 100% {
	width: 30px;
	height: 30px;
	background-color:#121F21;
	-ms-transform: translateY(-26px);
}
}
 @-o-keyframes bubblingG {
0% {
	width: 13px;
	height: 13px;
	background-color:#1E3438;
	-o-transform: translateY(0);
}
 100% {
	width: 30px;
	height: 30px;
	background-color:#121F21;
	-o-transform: translateY(-26px);
}
}
 @keyframes bubblingG {
0% {
	width: 13px;
	height: 13px;
	background-color:#1E3438;
	transform: translateY(0);
}
 100% {
	width: 30px;
	height: 30px;
	background-color:#121F21;
	transform: translateY(-26px);
}
}
.formContato .opcao{
	margin: 5px auto;
	background-color: #0A1314;
	width: 450px;
	height: 27px;
	padding: 3px;
	text-align: center;
	font-size: 13px;
	font-family: "Calibri", Arial;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.formContato .opcao input{
	background-color: #091011;
	float: right;
	border: 1px solid #0D2528;
	padding: 4px;
	color: #ccc;
	width: 330px;
	font-size: 13px;
	font-family: "Calibri", Arial;
	
	transition: all 0.7s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.formContato .opcao select{
	background-color: #091011;
	float: right;
	border: 1px solid #0D2528;
	padding: 4px;
	color: #ccc;
	width: 330px;
	font-size: 13px;
	font-family: "Calibri", Arial;
	
	transition: all 0.7s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.formContato .opcao textarea{
	background-color: #091011;
	float: right;
	border: 1px solid #0D2528;
	padding: 4px;
	color: #ccc;
	width: 330px;
	height: 100px;
	min-height: 100px;
	max-height: 100px;
	font-size: 13px;
	font-family: "Calibri", Arial;
	
	transition: all 0.7s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.formContato .opcao select:hover,
.formContato .opcao select:focus,
.formContato .opcao input:hover,
.formContato .opcao input:focus,
.formContato .opcao textarea:hover,
.formContato .opcao textarea:focus{
	background-color: #121F21;
	border: 1px solid #112E33;
	color: #ccc;
	font-size: 13px;
	font-family: "Calibri", Arial;
	
	transition: all 0.7s;
}
.formContato .opcao span{
	float: left;
	width: 108px;
	margin-top: 4px;
}
.formContato .enviarContato{
	margin: 0px auto;
	width: 300px;
	text-align: center;
}
.formContato .enviarContato input{
	margin: 5px;
	padding: 5px;
	background-color: #091011;
	border: 1px solid #0D2528;
	font-size: 14px;
	font-family: "Calibri", Arial;
	color: #fff;
	cursor: pointer;
	
	transition: all 0.7s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}












.formConf .opcao{
	margin: 5px auto;
	background-color: #0A1314;
	width: 450px;
	height: 27px;
	padding: 3px;
	text-align: center;
	font-size: 13px;
	font-family: "Calibri", Arial;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.formConf .opcao input{
	background-color: #091011;
	float: right;
	border: 1px solid #0D2528;
	padding: 4px;
	color: #ccc;
	width: 300px;
	font-size: 13px;
	font-family: "Calibri", Arial;
	
	transition: all 0.7s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.formConf .opcao select{
	background-color: #091011;
	float: right;
	border: 1px solid #0D2528;
	padding: 4px;
	color: #ccc;
	width: 300px;
	font-size: 13px;
	font-family: "Calibri", Arial;
	
	transition: all 0.7s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.formConf .opcao textarea{
	background-color: #091011;
	float: right;
	border: 1px solid #0D2528;
	padding: 4px;
	color: #ccc;
	width: 300px;
	height: 100px;
	min-height: 100px;
	max-height: 100px;
	font-size: 13px;
	font-family: "Calibri", Arial;
	
	transition: all 0.7s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.formConf .opcao select:hover,
.formConf .opcao select:focus,
.formConf .opcao input:hover,
.formConf .opcao input:focus,
.formConf .opcao textarea:hover,
.formConf .opcao textarea:focus{
	background-color: #121F21;
	border: 1px solid #112E33;
	color: #ccc;
	font-size: 13px;
	font-family: "Calibri", Arial;
	
	transition: all 0.7s;
}
.formConf .opcao span{
	float: left;
	width: 140px;
	margin-top: 4px;
}
.formConf .enviarContato{
	margin: 0px auto;
	width: 300px;
	text-align: center;
}
.formConf .enviarContato input{
	margin: 5px;
	padding: 5px;
	background-color: #091011;
	border: 1px solid #0D2528;
	font-size: 14px;
	font-family: "Calibri", Arial;
	color: #fff;
	cursor: pointer;
	
	transition: all 0.7s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.barRanking{
	margin: 0px auto;
	border: 1px solid #00BD00;
	width: 70px;
	height: 15px;
}
.barRanking .bar{
	margin: 0px auto;
	background-image:url(../img/rank-alzens.png);
	float: left;
	max-width: 70px;
	height: 15px;
}
.btnVotar{
	margin: 5px auto;
	background-color: #0A1314;
	width: 50px;
	height: 27px;
	padding: 10px;
	text-align: center;
	font-size: 13px;
	font-family: "Calibri", Arial;
	color: #fff;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}